@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground:#242424;
  --primary: #5653FC;
  --border:#D9E5F2;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}


@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}