@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground:#242424;
  --primary: #5653FC;
  --border:#D9E5F2;
  color-scheme: light;
}

/* Custom Scrollbar Styles */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: #E2E8F0;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #CBD5E0;
}

@theme {
  --font-manrope: "Manrope", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Manrope", sans-serif;
}


@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}